$default-section-spacing: 20px;
$font-size-base: 0.97rem;

$index-background:#FFFFFF;
$index-color: #4a4a4a;

$index-title-section-background: $index-background;
$index-title-background: $index-background;
$index-search-section-background: $index-background;
$index-map-section-background: $index-background;
$index-map-title-background: $index-background;
$index-main-buttons-section-background: $index-background;
$index-main-buttons-title-background: $index-background;
$index-main-buttons-btn-background: $index-background;
$index-meetings-section-background: $index-background;
$index-meetings-title-background: $index-background;
$index-documents-section-background: $index-background;
$index-documents-title-background: $index-background;

$index-title-color: $index-color;
$index-search-text: $index-color;
$index-map-title-color: $index-color;
$index-main-buttons-title-color: $index-color;
$index-main-buttons-btn-text: $index-color;
$index-meetings-title-color: $index-color;
$index-documents-title-color: $index-color;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

@import "../../../../mainapp/assets/css/mainapp";

html {
  text-rendering: optimizeLegibility;
}

.navbar-brand {
  font-weight: bold;
}

.index-v2 .home-container-title-sm {
  min-height: unset;
}
