{% load i18n %}
<section class="home-container home-container-title home-container-title-sm">
    <div class="container">
        <h1 class="project-title title-colors">{{ settings.TEMPLATE_META.site_name }} Münster</h1>
        <p class="lead project-claim title-colors">
            Inoffizielles Ratsinformationssystem für {{ settings.TEMPLATE_META.logo_name }}.
        </p>
        <div class="more-info-link">
            <a href="{% url 'info_about' %}">
                {% trans "More information" %}
                <span class="fa fa-angle-right"></span>
            </a>
        </div>
    </div>
</section>
