<article class="container infopage">
  <h1>Kontakt/Feedback</h1>
  <p>
    Diese Seite basiert auf dem Projekt
    <a href="https://meine-stadt-transparent.de/" target="_blank" rel="noopener">"Meine Stadt Transparent"</a>
    und bereitet die Daten des
    <a href="https://www.stadt-muenster.de/sessionnet/sessionnetbi/infobi.php" target="_blank" rel="noopener">Ratsinformationssystem</a>
    Münster auf.
  </p>
  <p>
    Diese Seite wird betrieben von
    <a href="https://codeformuenster.org/" target="_blank" rel="noopener">Code for Münster</a>,
    einer Gruppe von Menschen aus Münster, die in ihrer Freizeit ehrenamtlich auf mehr
    Transparenz der Politik und Verwaltung hinwirken wollen.
  </p>
  <p>Bei Fragen oder Anmerkungen lässt sich Code for Münster erreichen:</p>
  <ul>
    <li>Per E-Mail:
    <a href="mailto:muenster@codefor.de?subject=M%C3%BCnster%20Transparent"
      >muenster@codefor.de</a
    ></li>
    <li>Auf Twitter
    <a href="https://twitter.com/codeformuenster" target="_blank" rel="noopener">@codeformuenster</a></li>
  </ul>
  <p>
    "Meine Stadt Transparent" ist ein Open Source Projekt und kann
    unter Beachtung der MIT Lizenz frei modifiziert und kopiert werden.
  </p>
  <p>
    <a href="https://github.com/meine-stadt-transparent/meine-stadt-transparent" target="_blank" rel="noopener">Source Code "Meine Stadt Transparent" auf GitHub</a>
    <br />
    <a href="https://github.com/codeformuenster/meine-stadt-transparent-customization" target="_blank" rel="noopener">Source Code Anpassungen dieser Instanz auf GitHub</a>
  </p>
</article>
